<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Homepage</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <!-- For Font style -->
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="stylesheets/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/YouTubePopUp.css">
</head>

<body>
    <section class="header">
        <div class="navbar-option">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>
                        <a class="navbar-brand" href="/index"><img src="images/logo.png" alt="" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/index">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/users">List</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>



        <section class="banner">
            <div class="container">
                <div class="banner-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <h1>Explore <span>Me</span></h1>
                            <p>You don't have to be rich to travel well</p>
                        </div>
                        <div class="item">
                            <h1>Explore <span>Me</span></h1>
                            <p>You don't have to be rich to travel well</p>

                        </div>
                        <div class="item">
                            <h1>Explore <span>Me</span></h1>
                            <p>You don't have to be rich to travel well</p>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="about">
        <div class="container">
            <div class="banner-heading">
                
                <p class="font-16">
                    
                </p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="about-image">
                        <img src="images/about-1.jpg" alt="" />
                    </div>
                    <div class="about-inner-content">
                        <img src="" alt="" />
                        <p>
                            Mountain Biking Trips
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-image">
                        <img src="images/about-2.jpg" alt="" />
                    </div>
                    <div class="about-inner-content">
                        <img src="" alt="" />
                        <p>
                            Mountain Biking Trips
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-image">
                        <img src="images/about-3.jpg" alt="" />
                    </div>
                    <div class="about-inner-content">
                        <img src="" alt="" />
                        <p>
                            Adventure
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--<section class="video">
        <div class="container">
            <div class="play-video">
                <a id="video" href="https://www.youtube.com/watch?v=Q6dsRpVyyWs"><img src="images/play.png" alt="" /></a>               
                <p>
                    Watch the Trail Video
                </p>
            </div>
        </div>
    </section>
-->
    <!-- <section class="trails">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-6">

                    <div class="accordion1">
                        <div class="banner-heading">
                            <h2>Trails</h2>
                        </div>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												Section 1
												</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class='panel-pic'>
                                            <p>
                                                Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													Section 2
													</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <div class='panel-pic'>
                                                <p>
                                                    Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
														Section 3
														</a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class='panel-pic'>
                                                    <p>
                                                        Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingFour">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
															Section 4
															</a>
                                                </h4>
                                            </div>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class='panel-pic'>
                                                    <p>
                                                        Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="trail-img">
                        <img src="images/trail.jpg" alt="" />
                    </div>
                </div>


            </div>
        </div>





    </section> -->

    <!--<section class="gallery">
        <div class="container">
            <div class="banner-heading">
                <h2>
                    Gallery
                </h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image">
                                <div class="gallery-overlay">
                                    <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="images/gallery1.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image">
                                <div class="gallery-overlay">
                                    <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="images/gallery2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image">
                                <div class="gallery-overlay">
                                    <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="images/gallery3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image">
                                <div class="gallery-overlay">
                                    <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="images/gallery4.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image-2">
                                <div class="gallery-overlay">
                                    <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="images/gallery5.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image-2">
                                <div class="gallery-overlay">
                                    <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="images/gallery6.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image-2">
                                <div class="gallery-overlay">
                                    <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                                <img class="img-responsive" src="images/gallery7.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="content-div text-center">
                            <div class="gallery-image-2">
                                <div class="gallery-overlay">
                                    <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>

                                </div>
                                <img class="img-responsive" src="images/gallery8.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="blog">
        <div class="container">
            <div class="banner-heading">
                <h2>
                    Our Blog
                </h2>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="content-div text-center">
                            <div class="blog-inner">
                                <div class="blog-img">
                                    <img class="img-responsive" src="images/blog1.jpg" alt="" />
                                    <div class="img-border"></div>
                                </div>
                                <div class="blog-text">
                                    <p class="blog-heading">
                                        Bidhata Pandey
                                    </p>
                                    <p class="blog-textual-cont">
                                        I want to show the beauty of Lekhnath , city with seven lake
                                    </p>
                                    <a class="read-more" href="single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-div text-center">
                            <div class="blog-inner">
                                <div class="blog-img">
                                    <img class="img-responsive" src="images/blog2.jpg" alt="" />
                                    <div class="img-border"></div>
                                </div>
                                <div class="blog-text">
                                    <p class="blog-heading">
                                        Binita Hamal
                                    </p>
                                    <p class="blog-textual-cont">
                                        We travel not to escape life, but for life not to escape live
                                    </p>
                                    <a class="read-more" href="single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-div text-center">
                            <div class="blog-inner">
                                <div class="blog-img">
                                    <img class="img-responsive" src="images/blog3.jpg" alt="" />
                                    <div class="img-border"></div>
                                </div>
                                <div class="blog-text">
                                    <p class="blog-heading">
                                        Dikshya Poudel
                                    </p>
                                    <p class="blog-textual-cont">
                                        Let's explore nature together
                                    </p>
                                    <a class="read-more" href="single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>        
        <div class="container" style="height: 20px;">
        </div>    
    </section>
    <section class="blog">
        <div class="container">
            <div class="banner-heading">
                <h2>
                    Our Recommendation
                </h2>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="content-div text-center">
                            <div class="blog-inner">
                                <div class="blog-img">
                                    <img class="img-responsive" src="images/blog1.jpg" alt="" />
                                    <div class="img-border"></div>
                                </div>
                                <div class="blog-text">
                                    <p class="blog-heading">
                                        Bidhata Pandey
                                    </p>
                                    <p class="blog-textual-cont">
                                        I want to show the beauty of Lekhnath , city with seven lake
                                    </p>
                                    <a class="read-more" href="single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-div text-center">
                            <div class="blog-inner">
                                <div class="blog-img">
                                    <img class="img-responsive" src="images/blog2.jpg" alt="" />
                                    <div class="img-border"></div>
                                </div>
                                <div class="blog-text">
                                    <p class="blog-heading">
                                        Binita Hamal
                                    </p>
                                    <p class="blog-textual-cont">
                                        We travel not to escape life, but for life not to escape live
                                    </p>
                                    <a class="read-more" href="single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-div text-center">
                            <div class="blog-inner">
                                <div class="blog-img">
                                    <img class="img-responsive" src="images/blog3.jpg" alt="" />
                                    <div class="img-border"></div>
                                </div>
                                <div class="blog-text">
                                    <p class="blog-heading">
                                        Dikshya Poudel
                                    </p>
                                    <p class="blog-textual-cont">
                                        Let's explore nature together
                                    </p>
                                    <a class="read-more" href="single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="challenge">
        <div class="container">
            <div class="heading">
                <h2>
                    If its doesn’ t <span>Challange</span> you It Doesn’t <span>Change</span> you
                </h2>
            </div>
            <div class="challenge-text">
                <p class="font-16">
                    
                </p>
            </div>
          -->  <!--<form>
                <div class="input-group">
                    <input type="email" class="form-control" size="50" placeholder="Enter Your Email Address" required>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger">Free Trial</button>
                    </div>
                </div>
            </form>
        -->
        </div>
    </section>
    <!--SECTION PARTNER STARTS-->
    <!-- <section class="partners">
        <div class="container">
            <div class="partner-images">
                <img class="img-responsive" src="images/partners-1.jpg" alt="" />
                <img class="img-responsive" src="images/partners-2.jpg" alt="" />
                <img class="img-responsive" src="images/partners-3.jpg" alt="" />
                <img class="img-responsive" src="images/partners-4.jpg" alt="" />
                <img class="img-responsive" src="images/partners-5.jpg" alt="" />
            </div>
        </div>
    </section> -->
    <!--SECTION PARTNER ENDS-->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="footer-content">
                            <div class="footer-logo">
                                <img src="images/footer-logo.png" alt="" />
                            </div>
                            <div class="footer-text">
                                <p>
                                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur
                                </p>
                            </div>
                            <div class="footer-address">
                                <ul>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> king Street, Huntavilla, Ontario Canada
                                    </li>

                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i> +(000)-865-5842

                                    </li>
                                    <li>
                                        <i class="fa fa-envelope" aria-hidden="true"></i> demo@gmail.com

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-content">
                            <div class="news">
                                <p>
                                    Newsletter Subscribe
                                </p>
                            </div>
                            <div class="subscribe">
                                <form>
                                    <div class="input-group">
                                        <input type="email" class="form-control" size="50" placeholder="Enter E-mail" required>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-danger">Subscribe</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>

                                       FACEBOOK</a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>

                                       TWITTER</a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>

                                   LINKEDIN</a></li>
                                </ul>
                            </div>
                            <p class="copyright">
                                Copyright 2018. Designed by NavThemes | Distributed by <a href="https://themewagon.com/">ThemeWagon</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/owl-carousel/owl.carousel.min.js"></script>
    <script src="javascripts/owl-carousel/highlight.js"></script>
    <script src="javascripts/owl-carousel/app.js"></script>
    <script src="javascripts/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="javascripts/YouTubePopUp.jquery.js"></script>
    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
        })
    </script>
    <script type="text/javascript">
        $("[data-fancybox]").fancybox({
            // Options will go here
        });
    </script>
    <script>
    jQuery(function(){
	jQuery("a#video").YouTubePopUp();
})

</script>
</body>

</html>