body {
    font-family: 'Chelsea Market', cursive;
    font-family: 'Dosis', sans-serif;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

.font-16 {
    font-size: 16px;
    font-weight: 400;
}

.text-orange {
    color: #f04c26;
}

a {
    text-decoration: none !important;
}

li {
    list-style-type: none;
}
img{
    max-width: 100%;
    height: auto;
}


/*======BANNER CSS STARTS====*/

.banner-heading h2 {
    text-align: center;
    position: relative;
    margin: 70px auto;
    max-width: 130px;
    width: 100%;
}

.banner-heading h2::after {
    border-top: 2px solid #F04C26;
    width: 70px;
    position: absolute;
    content: " ";
    top: 22px;
    left: -80px;
}

.banner-heading h2::before {
    border-top: 2px solid #F04C26;
    width: 70px;
    position: absolute;
    content: " ";
    top: 22px;
    right: -80px;
}


/*======BANNER CSS ENDS====*/


/*======HEADER CSS STARTS=======*/

.header .navbar-toggle {
    border: 0;
    right: -210px;
    top: 2px;
}

.header .navbar-brand>img {
    margin-top: -10px;
}

.header .navbar-default .navbar-toggle .icon-bar {
    background-color: #F04C26;
}

.header .navbar-default .navbar-toggle:focus,
.header .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.header {
    background-image: url('../images/banner.jpg');
    height: 645px;
    background-position: center;
    background-repeat: no-repeat;
}

.header .navbar-default {
    background-color: transparent;
    border: 0;
    padding-top: 15px;
    max-width: 900px;
}

.header .navbar-default .navbar-nav>li>a {
    color: #414141;
    font-size: 16px;
    font-weight: 500;
}

.header .navbar-default .navbar-nav>li>a:hover {
    color: #f04c26;
}
.header .banner {
    cursor: grab;
}

.header .banner .banner-content h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'Chelsea Market', cursive;
    margin-top: 170px;
    text-align: left;
    margin-left: 30px;
}

.header .banner .banner-content h1 span {
    color: #f04c26;
}

.header .banner .banner-content p {
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-left: 60px;
}

.header .banner .banner-content .owl-prev {
    position: absolute;
    left: -30px;
    top: 210px;
    background: url("../images/arrow-left.png") repeat !important;
    font-size: 0 !important;
    height: 28px;
    width: 17px;
    content: "";
}

.header .banner .banner-content .owl-next {
    background: url("../images/arrow-right.png") repeat !important;
    content: "";
    font-size: 0 !important;
    height: 28px;
    position: absolute;
    right: -30px;
    top: 210px;
    width: 17px;
}

.header .banner .banner-content .owl-theme .owl-dots {
    display: none;
}
#header {
	height: auto;
	background-size: 100%;
	background-color: rgba(240, 76, 37, 0.1);
	background-image: url('../images/pattern-xv.png');
    font-family: 'Dosis', sans-serif;
}

/*======HEADER CSS ENDS====*/


/*====ABOUT CSS STARTS====*/

.about {
    background-color: #fff;
    margin-bottom: 65px;
}

.about .banner-heading p {
    color: #555655;
    padding: 0 200px 30px 200px;
    text-align: center;
    line-height: 26px;
}

.about .about-inner-content {
    text-align: center;
}

.about .about-inner-content p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.about .about-image {
    text-align: center;
    margin-bottom: 10px;
}


/*======ABOUT CSS ENDS====*/


/*====VIDEO CSS STARTS====*/

.video {
    background-image: url(../images/banner-2.jpg);
    height: 450px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.video::after {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    content: " ";
}

.video .play-video {
    text-align: center;
    margin-top: 170px;
}

.video .play-video img {
    position: relative;
    z-index: 1;
}

.video .play-video p {
    font-size: 28px;
    font-weight: 500;
    z-index: 999;
    color: #fff;
    position: relative;
    margin-top: 50px;
}

/*======VIDEO CSS ENDS====*/


/*====TRAIL CSS STARTS====*/

.trails .accordion1 {
    margin-left: 160px;
}

.trails .container-fluid {
    padding-right: 0;
    overflow: hidden;
    background-color: #f1f0f0;
}

.trails .panel-default>.panel-heading {
    background-color: #F04C26;
    color: #fff;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
}

.trails .panel-title {
    font-size: 24px;
}

.trails .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    border: 0;
}

.trails .accordion1 p {
    font-size: 16px;
    color: #555655;
    background-color: #fff;
    margin: 0;
    padding: 15px;
    margin-bottom: 20px;
}

.trails .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 0;
}

.trails .panel {
    background-color: transparent;
}

.trails .panel-body {
    padding: 0;
}


/*======TRAILS CSS ENDS====*/


/*====GALLERY CSS STARTS====*/

.gallery {
    padding-bottom: 80px;
}

.gallery .gallery-image-2 {
    margin-top: 40px;
}

.gallery .gallery-image:hover .gallery-overlay,
.gallery .gallery-image-2:hover .gallery-overlay {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    visibility: visible;
}

.gallery .gallery-image,
.gallery .gallery-image-2 {
    position: relative;
    display: inline-block;
}

.gallery .gallery-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.72);
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.gallery .gallery-overlay a {
    text-align: center;
}

.gallery .gallery-overlay a .fa {
    font-size: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    display: inherit;
    border-radius: 100%;
    line-height: 50px;
    position: absolute;
    color: #000;
    top: 90px;
    left: 0;
    right: 0;
}


/*======GALLERY CSS ENDS====*/


/*====BLOG CSS STARTS====*/

.blog {
    background-image: url('../images/blog-banner.jpg');
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
}

.blog .blog-heading {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    color: #333333;
}

.blog .blog-textual-cont {
    color: #555655;
    text-align: center;
    font-size: 16px;
    padding: 0 30px;
}

.blog .blog-img {
    text-align: center;
    position: relative;
    display: inline-block;
}

.blog .blog-img img {
    display: inline;
    margin-top: -20px;
}

.blog .blog-inner {
    background-color: #fff;
}

.blog .read-more {
    font-size: 14px;
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #f04c25;
    padding: 5px 0;
    visibility: hidden;
}

.blog .blog-inner:hover .read-more {
    visibility: visible;
}

.blog .blog-inner:hover .blog-img .img-border {
    visibility: visible;
}

.blog .blog-inner .blog-img .img-border {
    visibility: hidden;
    height: 100%;
    width: 90%;
    position: absolute;
    top: -11px;
    left: 15px;
    border: 1px solid #fff;
}


/*======BLOG CSS ENDS====*/


/*====CHALLENGE CSS STARTS====*/

.challenge {
    background-image: url('../images/bg-texture.jpg');
    padding-bottom: 80px;
}

.challenge .heading span {
    text-transform: uppercase;
    color: #f04c25;
    font-weight: 700;
}

.challenge .heading {
    max-width: 440px;
    margin: auto;
    text-align: center;
    margin-top: 90px;
}

.challenge .heading h2 {
    line-height: 70px;
}

.challenge .challenge-text .font-16 {
    font-size: 16px;
    font-weight: 400;
    color: #555655;
    padding: 40px 250px;
    text-align: center;
}

.challenge .input-group .form-control {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    border-radius: 0;
    font-size: 16px;
}

.challenge .input-group {
    width: 40%;
    margin: auto;
}

.challenge .input-group .form-control:last-child,
.challenge .input-group-addon:last-child,
.challenge .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.challenge .input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.challenge .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 30px;
}

.challenge .btn-danger {
    background-color: #f04c25;
    height: 40px;
    width: 180px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    margin-top: -7px;
}


/*======CHALLENGE CSS ENDS====*/


/*====PARTNER SECTION STARTS====*/

.partners {
    padding: 50px 0;
}

.partners .partner-images {
    text-align: center;
}

.partners .partner-images img {
    padding: 0 25px;
    display: inline-block;
}


/*====PARTNER SECTION ENDS====*/


/*====FOOTER CSS STARTS====*/

.footer {
    background-image: url('../images/footer-banner.jpg');
    height: auto;
    position: relative;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
}

.footer:after {
    position: absolute;
    background-color: rgba(56, 56, 56, 0.85);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    content: " ";
}

.footer p,
.footer li {
    color: #bbbbbb;
    font-size: 16px;
}

.footer .footer-content {
    position: relative;
    z-index: 1;
}

.footer .footer-content .footer-logo {
    margin-top: 60px;
}

.footer .footer-content .footer-text {
    margin-top: 30px;
}

.footer .footer-content .footer-address {
    margin-bottom: 40px;
}

.footer .footer-content .footer-address ul {
    padding: 0;
}

.footer .footer-content .footer-address ul li .fa {
    padding: 0 10px
}

.footer .footer-content .footer-address li {
    line-height: 35px;
}

.footer .footer-content .news p {
    color: #fff;
    /* text-transform: ; */
    font-size: 22px;
    font-weight: 500;
}

.footer .footer-content .news {
    margin-top: 50px;
}

.footer .footer-content .input-group {
    display: inline-block;
    margin-top: 20px;
}

.footer .footer-content .form-control {
    height: 45px;
    border: 0;
    max-width: 300px !important;
    box-shadow: none;
}

.footer .footer-content .btn.btn-danger {
    height: 45px;
    width: 120px;
    font-size: 16px;
    background-color: #F04C25;
}

.footer .footer-content .social-icons ul {
    padding: 0;
}

.footer .footer-content .social-icons ul li {
    display: inline-block;
}

.footer .footer-content .social-icons {
    margin-top: 30px;
}

.footer .footer-content .social-icons li a .fa {
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: #F04C25;
    text-align: center;
    border-radius: 100%;
    line-height: 40px;
    font-size: 20px;
    margin-right: 10px;
}

.footer .footer-content .social-icons li a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 0 20px 0 0px;
}

.footer .footer-content .copyright {
    font-size: 12px;
    font-weight: 400;
    font-family: open sans;
    margin-top: 25px;
}

/*====ABOUT PAGE====*/
.about_wrapper {
	width: 100%;
	padding: 100px 0;
}
.about_wrapper h2 {
	font-size: 28px;
	color: #f04c25;
}
.about_wrapper p {
	font-size: 16px;
	color: #767272;
	line-height: 27px;
}
.team_wrapper h2 {
	font-size: 28px;
	color: #f04c25;
}
.team_wrapper p {
	font-size: 16px;
	color: #767272;
	line-height: 27px;
}
.team_wrapper .team_heading {
	border-bottom: 2px solid #f6f6f6;
	padding: 25px 0;
}
.team_wrapper .col-md-6 {
	margin-bottom: 50px;
}
.team_wrapper .team_heading h3 {
	font-size: 20px;
	color: #f04c25;
	margin: 0;
}
.team_wrapper .team_heading span {
	font-size: 16px;
	color: #222;
}
.our_partner_wrapper {
	padding: 70px 0;
}
.our_partner_wrapper h2 {
	font-size: 26px;
	color: #f04c25;
}
.our_partner_wrapper p {
	font-size: 16px;
	color: #7f7f7f;
	line-height: 27px;
}
.our_partner_wrapper span {
	color: #f04c25;
}
/*======FOOTER CSS ENDS====*/


/*GALLERY*/

.gallery{
    padding: 50px 0;
}
.gallery #images {
	margin: 60px 0;
}
/*GALLERY*/

/*====MEDIA QUERY STARTS====*/

@media(max-width:1199px) {
    .gallery .gallery-overlay a .fa {
        top: 65px;
    }
    .challenge .challenge-text .font-16 {
        padding: 40px 0;
    }
    .trails .accordion1 {
        margin-left: 0px;
    }
    .trails .container-fluid {
        padding-right: 15px;
    }
    .trails .trail-img {
        overflow: hidden;
    }
    .challenge .input-group {
        width: 60%;
        margin: auto;
    }
    .partners .partner-images img {
        padding: 0 15px;
    }
}

@media (max-width:991px) {
    .about .banner-heading p {
        padding: 0;
    }
    /*  .gallery .gallery-overlay {
        width: 79%;
    }*/
    .gallery .gallery-overlay a .fa {
        top: 40%;
    }
    .gallery .gallery-image {
        margin-bottom: 50px;
    }
    .blog .blog-inner {
        margin-bottom: 60px;
    }
}

@media (max-width:767px) {
    .header .banner .banner-content .fa.fa-chevron-left {
        left: -10px;
    }
    .header .banner .banner-content .fa.fa-chevron-right {
        left: 10px;
    }
    .header .log-in {
        margin-right: 50px;
    }
    .header .banner .banner-content h1 {
        font-size: 70px;
    }
    .gallery .gallery-image {
        text-align: center;
    }
    .gallery .gallery-image img {
        display: inline;
    }
    .gallery .gallery-image-2 {
        text-align: center;
    }
    .gallery .gallery-image-2 img {
        display: inline;
    }
    .trails .trail-img img {
        max-width: 100%;
        height: auto;
    }
    .challenge .input-group {
        width: 80%;
    }
    .header .banner .banner-content .owl-prev {
        left: -10px;
    }
    .header .banner .banner-content .owl-next {
        right: -10px;
    }
}

@media (max-width:500px) {
    .challenge .btn-danger {
        width: 110px;
    }
    .challenge .input-group .form-control:last-child,
    .challenge .input-group-addon:last-child,
    .challenge .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
    .input-group-btn:first-child>.btn:not(:first-child),
    .challenge .input-group-btn:last-child>.btn,
    .input-group-btn:last-child>.btn-group>.btn,
    .challenge .input-group-btn:last-child>.dropdown-toggle {
        left: 20px;
    }
    .footer .footer-content .social-icons ul li {
        display: block;
        margin-bottom: 10px;
    }
    .footer .footer-content .form-control {
        max-width: 170px !important;
    }
    .footer .footer-content .btn.btn-danger {
        width: 90px;
    }
}

@media (max-width:480px) {
    .gallery .gallery-overlay a .fa {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .gallery .gallery-overlay a .fa {
        top: 35%;
    }
}


/*======MEDIA QUERY ENDS====*/
/*======CUSTOM CSS======*/
.checked {
    color: #F04C26;
}
.badge-certified{
    background-color: green;
}
.badge-local{
    background-color: orange;
}
.list-icon{
    color: #f04c26;
}

/*======SINGLE PAGE INSTA DESIGN======*/
/* -
-*-~*~-*-*-~*~-*-*-~*~* |
●▬▬▬▬▬▬▬๑۩۩๑▬▬▬▬▬▬▬●
Made by ~
Areal Alien ❥ 雷克斯
●▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●
──────▄▀▄─────▄▀▄
─────▄█░░▀▀▀▀▀░░█▄
─▄▄──█░░░░░░░░░░░█──▄▄
█▄▄█─█░░▀░░┬░░▀░░█─█▄▄█
-*-~*~-*-*-~*~-*-*-~*~* |
- */
:root {
    --bc: #efeeee;
    --white: #ffffff;
    --black: #000000;
    --dark-blue: #1f2029;
    --extra-dark-blue: #13141a;
    --dark-light: #424455;
    --red: #da2c4d;
    --dark-red: #6e1727;
    --yellow: #f8ab37;
    --grey: #ecedf3;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --orange: #fd7e14;
    --green: #28a745;
    --light-green: #24e33a;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --primary: #d1a9de;
    --secondary: #7015b3;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    /* --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; */
  }
  
  
  /* Classes */
  .space {
    margin: 1em 0;
  }
  /* User Header */
  .user-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-header-inner {
    width: 40%;
    min-height: 15vh;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }
  .uh-left {
    width: 100%;
    height: 100%;
    padding: 0 2em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .uh-image {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .uh-image-inner {
    width: 10.5rem;
    height: 10.5rem;
    border: .3em solid var(--grey);
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
  }
  .gradient {
    width: 100%;
    height: 100%;
    padding: .3em;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(214,41,118,1) 0%, rgba(250,126,30,1) 100%);
  }
  .gradient-gray {
    width: 100%;
    height: 100%;
    padding: .3em;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(236,237,243,1) 0%, rgba(228,229,233,1) 100%);
  }
  .uh-right {
    padding: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    jusify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .user-info {
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .uname-verified {
    height: 1.8rem;
  }
  .btn {
    margin: 1em;
    border-radius: 3px;
    border: 1px solid var(--grey);
    background-color: var(--light);
    padding: .4em .6em;
    cursor: pointer;
    color: var(--black);
  }
  .user-links a {
    margin: 0 1em 0 0;
    cursor: pointer;
  }
  .user-links a span {
    color: var(--black);
    font-weight: bolder;
  }
  .user-bio-name {
    font-weight: bold;
    margin: 1.75em 0 0 0;
    line-height: 0;
  }
  /* User stories */
  .user-stories {
    margin: 3em 0 1em 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-stories-inner {
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 4em;
  }
  .story-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .story-wrapper h2 {
    margin: .25em;
    font-size: 1.1em;
    font-weight: 400;
  }
  .story-inner {
    width: 75%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .story-inner:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .story-img {
    width: calc(100% - .5em);
    height: calc(100% - .5em);
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--grey);
    z-index: 2;
  }
  /* User Page */
  .user-page-wrapper {
    display: flex;
    justify-content: center;
    margin: 3em 0;
  }
  .user-page-inner {
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }
  .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .image-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  .img-overlay-wrapper {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity .15s ease-in-out;
  }
  .img-btns {
    font-size: 1.3em;
    color: var(--white);
    z-index: 10;
  }
  .img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9;
  }
  .image-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  .block {
    width: 60%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-mode-brig);
    z-index: 20;
  }
  .block-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    z-index: 19;
  }
  /* User Loader */
  .user-loader {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    position: relative;
    width: 75px;
  }
  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    width: 100%;
  }
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  .user-info-heading{
    color:#f04c25
  }
 
  
  /* Keyframes */
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  @keyframes color {
    100%, 0% {
      stroke: var(--red);
    }
    40% {
      stroke: var(--blue);
    }
    66% {
      stroke: var(--green);
    }
    80%, 90% {
      stroke: var(--yellow);
    }
  }
  @media (max-width: 1024px) {
    .user-header-inner {
      width: 50%;
    }
    .uh-image {
      width: 10rem;
      height: 10rem;
    }
    .uh-image-inner {
      width: 9.5rem;
      height: 9.5rem;
    }
    .user-stories-inner {
      width: 85%;
      grid-column-gap: 2em;
    }
    .story-wrapper {
      margin: 0 1em;
    }
    .user-page-inner {
      width: 85%;
      grid-column-gap: 1.5em;
      grid-row-gap: 1.5em;
    }
    .img-btns {
      font-size: 1.1em;
    }
  }
  @media (max-width: 936px) {
    .user-header-inner {
      width: 50%;
    }
    .uh-left {
      padding: 0 1em 0 0;
    }
    .uh-image {
      width: 9rem;
      height: 9rem;
    }
    .uh-image-inner {
      width: 8.5rem;
      height: 8.5rem;
    }
    .user-stories-inner {
      width: 90%;
      grid-column-gap: .75em;
    }
    .story-wrapper {
      margin: 0 .5em;
    }
    .user-page-inner {
      width: 90%;
      grid-column-gap: 1.25em;
      grid-row-gap: 1.25em;
    }
    .img-btns {
      font-size: 1em;
    }
  }
  @media (max-width: 767px) {
    .uh-left {
      padding: 0;
    }
    .uh-image {
      width: 8.5rem;
      height: 8.5rem;
    }
    .uh-image-inner {
      width: 8rem;
      height: 8rem;
    }
    .story-wrapper {
      margin: 0 .25em;
    }
    .user-page-inner {
      grid-column-gap: 1em;
      grid-row-gap: 1em;
    }
    .img-btns {
      font-size: .8em;
    }
  }
